@import url('https://fonts.googleapis.com/css2?family=AR+One+Sans&family=Sono:wght@300&display=swap');


body {
  font-family:Tangerine;
  margin: 0;
  font-size: 1.5em;
  text-align: center;
  background: rgb(161, 112, 161);
  color: #fff;
}

