@imporrt url("https://fonts.googleapis.com/css?family=Tangerine");

body {
  font-family:Tangerine;
  margin: 0;
  font-size: 1.5em;
  text-align: center;
  background: rgb(161, 112, 161);
  color: #fff;
}

